{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Exam - Exam Management{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="text-center mb-4">Create New Exam for {{ classroom.name }}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Create Exam</button>
        </form>
    </div>
</div>
{% endblock %}
