<!-- main/templates/main/classrooms/create_assignment.html -->

{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create Assignment{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Create New Assignment in "{{ classroom.name }}"</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mt-3">Create Assignment</button>
        </form>
    </div>
</div>
{% endblock %}
