<!-- main/templates/main/classrooms/create_question.html -->

{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add Question{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2>Add Question to "{{ exam.title }}"</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mt-3">Add Question</button>
            <a href="{% url 'exam_detail' classroom.pk exam.pk %}" class="btn btn-secondary mt-3">Back to Exam</a>
        </form>
    </div>
</div>
{% endblock %}
